<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rw.akimana.officels">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".Controllers.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ols_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Login" />
        <activity android:name=".Register" />
        <activity android:name=".MainActivity"/>
        <activity android:name=".SettingActivity" />
        <activity android:name=".ChapiterActivity" />
        <activity android:name=".ContentActivity" />
        <activity android:name=".ExerciseActivity" />
        <activity android:name=".ViewExamActivity" />
        <activity android:name=".AnswerActivity" />
        <activity android:name=".MarksActivity" />
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>